In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests
# import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-10-20 09:58:39,-0.7393,-90.3518,69.39,91,100,6.67
1,1,Mahebourg,MU,2021-10-20 09:58:40,-20.4081,57.7000,80.89,50,20,17.27
2,2,Hermanus,ZA,2021-10-20 09:58:40,-34.4187,19.2345,82.90,46,65,9.80
3,3,Quibdo,CO,2021-10-20 09:58:40,5.6947,-76.6611,72.48,99,99,1.70
4,4,Sangar,RU,2021-10-20 09:58:40,63.9242,127.4739,17.44,91,100,8.39

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure and plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mahebourg,MU,2021-10-20 09:58:40,-20.4081,57.7000,80.89,50,20,17.27
2,2,Hermanus,ZA,2021-10-20 09:58:40,-34.4187,19.2345,82.90,46,65,9.80
17,17,Souillac,MU,2021-10-20 09:58:45,-20.5167,57.5167,80.98,50,20,17.27
18,18,Monrovia,LR,2021-10-20 09:58:45,6.3005,-10.7969,82.17,74,100,5.86
22,22,Itoman,JP,2021-10-20 09:58:47,26.1247,127.6694,77.02,61,75,12.66
27,27,Saint-Philippe,RE,2021-10-20 09:58:48,-21.3585,55.7679,78.39,74,46,11.61
43,43,Micheweni,TZ,2021-10-20 09:58:53,-4.9667,39.8333,83.16,63,70,11.25
45,45,Nhulunbuy,AU,2021-10-20 09:55:16,-12.2333,136.7667,83.01,74,100,6.91
50,50,Sao Joao Do Piaui,BR,2021-10-20 09:58:55,-8.3581,-42.2467,84.92,41,26,2.77
53,53,Hithadhoo,MV,2021-10-20 09:58:55,-0.6000,73.0833,82.83,75,81,13.67

In [14]:
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1           Mahebourg      MU     80.89 -20.4081   57.7000
2            Hermanus      ZA     82.90 -34.4187   19.2345
17           Souillac      MU     80.98 -20.5167   57.5167
18           Monrovia      LR     82.17   6.3005  -10.7969
22             Itoman      JP     77.02  26.1247  127.6694
27     Saint-Philippe      RE     78.39 -21.3585   55.7679
43          Micheweni      TZ     83.16  -4.9667   39.8333
45          Nhulunbuy      AU     83.01 -12.2333  136.7667
50  Sao Joao Do Piaui      BR     84.92  -8.3581  -42.2467
53          Hithadhoo      MV     82.83  -0.6000   73.0833

In [19]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make the request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mahebourg,MU,80.89,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,Hermanus,ZA,82.90,-34.4187,19.2345,Misty Waves Boutique Hotel
17,Souillac,MU,80.98,-20.5167,57.5167,Shanti Maurice Resort & Spa
18,Monrovia,LR,82.17,6.3005,-10.7969,Sunset Inn
22,Itoman,JP,77.02,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
27,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
43,Micheweni,TZ,83.16,-4.9667,39.8333,
45,Nhulunbuy,AU,83.01,-12.2333,136.7667,East Arnhem Real Estate
50,Sao Joao Do Piaui,BR,84.92,-8.3581,-42.2467,Nayra Palace Hotel
53,Hithadhoo,MV,82.83,-0.6000,73.0833,Scoop Guest House

In [23]:
# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))